<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/class.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <title>Classes</title>
</head>

<body>
    <main>
        <h1>Classes</h1>
        <div class="link-wrapper">
            
            <a href="/biohacker" id="biohacker" class="link">Biohacker</a>
    
            <a href="/envoy" id="envoy" class="link">Envoy</a>
            
            <a href="/mechanic" id="mechanic" class="link">Mechanic</a>
            
            <a href="/mystic" id="mystic" class="link">Mystic</a>
            
            <a href="/operative" id="operative" class="link">Operative</a>

            <a href="/solarian" id="solarian" class="link">Solarian</a>

            <a href="/soldier" id="soldier" class="link">Soldier</a>

            <a href="/technomancer" id="technomancer" class="link">Technomancer</a>

            <a href="/vanguard" id="vanguard" class="link">Vanguard</a>

            <a href="/witchwarper" id="witchwarper" class="link">Witchwarper</a>

            <a href="/drone" id="drone" class="link">Drone</a>
        </div>
    </main>
    <script src="/js/class.js"></script> 
</body>

</html>