<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/feat.css">
    <title>Feats</title>
</head>
<body>
    <main>
        <h1>Starfinder Finder</h1>
        <p>This Finder is for personal use only, using only information from books we have purchased. See <a href="#">OGL License</a> for more information.</p>
        <p>Enter your search paramaters in the corresponding search field for ease of use in-game, OR if feat is missing, fill out the form to add it to the database.</p>
        <div class="input-wrapper">
            <label for="feat">Search for Feat by Name:</label>
            <input type="text" id="feat" name="feat" value="Feat">
            <button type="submit" class="submit">Search Feat</button>
        </div>
    </main> 
</body>
</html>