<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/server/public/styles.css">
    <title>Starfinder Finder</title>
</head>

<body>
    <main>
        <h1>Starfinder Finder</h1>
        <p>This Finder is for personal use only, using only information from books we have purchased. See <a
                href="#">OGL
                License</a> for more information.</p>
        <p>Enter your search paramaters in the corresponding search field for ease of use in-game. More features will be added as current features stabilize.</p>
        <div class="input-wrapper">
            <label for="class">Class:</label>
            <input type="text" id="class" name="class" value="Class">
            <button type="submit" class="submit">Submit Class</button>
            <label for="feat">Feat:</label>
            <input type="text" id="feat" name="feat" value="Feat">
            <button type="submit" class="submit">Submit Feat</button>
            <label for="skill">Skill:</label>
            <input type="text" id="skill" name="skill" value="Skill">
            <button type="submit" class="submit">Submit Skill</button>
            <label for="race">Race:</label>
            <input type="text" id="race" name="race" value="Race">
            <button type="submit" class="submit">Submit Race</button>
            <label for="theme">Theme:</label>
            <input type="text" id="theme" name="theme" value="Theme">
            <button type="submit" class="submit">Submit Theme</button>
        </div>
    </main>
</body>

</html>