<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Starfinder Finder</title>
</head>

<body>
    <main>
        <h1>Starfinder Finder</h1>
        <p>This Finder is for personal use only, using only information from books we have purchased. See <a
                href="#">OGL
                License</a> for more information.</p>
        <p>Click on a feature to search our API. If we are missing anything, you can add it by filling out the form.</p>
        <div class="input-wrapper">
            
            <a href="#" id="class" class="hidden submit">Class</a>
    
            <a href="/feat" id="feat" class="submit">Feat</a>
            
            <a href="/skill" id="skill" class="submit">Skill</a>
            
            <a href="#" id="race" class="hidden submit">Race</a>
            
            <a href="#" id="theme" class="hidden submit">Theme</a>

            <a href="#" id="spell" class="hidden submit">Spell</a>
        </div>
    </main>
    <script src="/js/index.js"></script> 
</body>

</html>