<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/server/public/css/skill.css">
    <title>Skills</title>
</head>
<body>
    <main>
        <h1>Starfinder Finder</h1>
        <p>This Finder is for personal use only, using only information from books we have purchased. See <a href="#">OGL License</a> for more information.</p>
        <p>Enter your search paramaters in the corresponding search field for ease of use in-game, OR if skill is missing, fill out the form to add it to the database.</p>
        <div class="input-wrapper">
            <label for="skill">Search for Skill by Name:</label>
            <input type="text" id="skill" name="skill" value="Skill">
            <button type="submit" class="submit">Search Skill</button>
        </div>
        <form>
            <label for="skillName">Skill:</label>
            <input type="text" id="skillName" name="skillName">
            <label for="skillAbility">Ability:</label>
            <input type="text" id="skillAbility" name="skillAbility">
            <label for="skillDescription">Description:</label>
            <input type="text" id="skillDescription" name="skillDescription">
            <label for="trainedOnly">Trained Only?</label>
            <input type="radio" id="true" name="trainedOnly" value="True">
            <label for="true">True</label>
            <input type="radio" id="false" name="trainedOnly" value="False">
            <label for="false">False</label>
            <label for="armorCheckPenalty">Armor Check Penalty?</label>
            <input type="radio" id="true" name="armorCheckPenalty" value="True">
            <label for="true">True</label>
            <input type="radio" id="false" name="armorCheckPenalty" value="False">
            <label for="false">False</label>
        </form>
    </main> 
</body>
</html>