/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
    /* BASE STYLES
    /*******************************************/
html {
  font-size: 10px;
}

body {
  background: black;
  font-family: "Play", sans-serif;
  /* background: rgb(32, 82, 119);
    background: radial-gradient(
      circle,
      rgba(32, 82, 119, 1) 0%,
      rgba(93, 191, 237, 1) 50%,
      rgba(8, 54, 110, 1) 100%
    ); */
}

/******************************************
    /* LAYOUT
    /*******************************************/
header {
}

/* main {
    background: rgb(32, 82, 119);
    background: radial-gradient(
      circle,
      rgba(32, 82, 119, 1) 0%,
      rgba(93, 191, 237, 1) 50%,
      rgba(8, 54, 110, 1) 100%
    );
    color: #231722;
    min-height: 100vh;
    text-align: center;
    font-size: 1.6rem;
  } */

main {
  background: black;
  color: rgba(93, 191, 237, 1);
  min-height: 100vh;
  text-align: center;
  font-size: 1.6rem;
}

p a {
  text-decoration: none;
  color: red;
  font-weight: bold;
}

p a:hover {
  color: gold;
}

p a:active {
  color: red;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10em;
}

.link {
  background-color: rgba(93, 191, 237, 1);
  padding: 2rem 4rem;
  color: black;
  border-radius: 3rem;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.link:hover {
  background-color: gold;
  font-size: 2.1rem;
}

.link:active {
  font-size: 1.9rem;
}

footer {
}

/******************************************
    /* ADDITIONAL STYLES
    /*******************************************/
/* @media screen and (max-width: 800px) {
        label {
            margin-top: 1.5em;
            font-size: 2rem;
        }
        input {
            font-size: 1.2rem;
        }
        .input-wrapper {
            margin-top: 1em;
        }
    } */
