/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
  /* BASE STYLES
  /*******************************************/
html {
  font-size: 10px;
}

body {
  background: black;
  color: rgba(93, 191, 237, 1);
  min-height: 100vh;
  text-align: center;
  font-size: 1.8rem;
  font-family: "Play", sans-serif;
}

/******************************************
  /* LAYOUT
  /*******************************************/
header {
}

p {
  color: gold;
  padding: 4rem;
}

.form-wrapper {
  border-top: 0.3rem solid red;
}

form {
  padding: 2rem;
  margin: 4em auto;
}

label {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 4.5rem;
  margin-top: 1em;
}

input,
textarea {
  margin: 0.5em;
  padding: 0.5rem;
  color: black;
  font-weight: bold;
  background-color: whitesmoke;
}

.submit {
  background-color: rgba(93, 191, 237, 1);
  padding: 1rem 2rem;
  color: black;
  border-radius: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

.submit:hover {
  background-color: gold;
  font-size: 1.5rem;
}

.submit:active {
  font-size: 1.4rem;
}

h1 {
  text-align: left;
  padding: 5rem 3rem 1rem 3rem;
  color: gold;
  border-top: 0.3rem solid red;
  margin-top: 3em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 2em;
  padding: 4rem 0;
  color: whitesmoke;
  border-bottom: 0.3rem solid rgba(93, 191, 237, 1);
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.row {
  flex: 60%;
  max-width: 60%;
  margin: 0.5rem;
}

.races-label {
  font-weight: bold;
  font-size: 2rem;
  padding-right: 0.5rem;
  color: rgba(93, 191, 237, 1);
}

h2 {
  margin-top: 7em;
  color: gold;
}

h3 {
  color: red;
}

#raceForm {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30vw;
}

#raceForm label {
  display: block;
  text-align: left;
}

#raceForm input {
  width: 71.5%;
}

#raceForm h3 {
  margin-top: 4em;
  margin-bottom: 2em;
}

#raceForm button {
  margin-top: 2em;
}

.bottom {
  border-bottom: 0.3rem solid red;
}

footer {
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
